{% extends "base_generic.html" %}
{% block content %}
<div class="container-fluid p-20">
    <div class="col-sm-5">
        <h1 class="header">To Do List</h1>
        <ul class="TaskList">
            {% for task in task_list %}
            <li class="TaskItem">{{ task.name }}</li>
            {% endfor %}
        </ul>
        <form action='/add-task/' method="post">

            <input id="task_name" type="text" maxlength="100" name='task_name' required></input>
            <input type="submit" value="Add"></button>
            {% csrf_token %}
        </form>
    </div>
    <div class="col-sm-10"></div>
</div>
{% endblock %}